body{
	font-family: freesans;
}

@font-face {
  font-family: 'freesans';
  src: url('../res/FreeSans.otf');
}

.GameContainer{
	font-size: 16px;
	line-height: 16px;
	cursor: default;
	margin:0px;
	margin-top:1px;
	margin-bottom:-1px;
	margin-right: -1px;
	float:left;
	border-right-style: solid;
}

.blue{
	color: blue;
}

.red{
	color: red;
}

.green{
	color: green;
}

.white{
	color: white;
}

.black{
	color: black;
}

#GameHolder{
	float:left;
	border-style:solid;
	visibility:hidden;
}

#colorSelector{
	float:left;
}

.colorSelect{
	font-size:32px;
	padding: 0px;
	margin: 10px;
	border: solid;
	border-color: black;
	padding-bottom: 1px;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #949494;
    color: #ffffff;
}

#btw{
	padding-left: 20px;
}