@font-face {
  font-family: 'freesans';
  src: url('../res/FreeSans.otf');
}

.GameContainer{
	font-family: freesans;
	font-size: 15px;
	line-height: 15px;
}

.blue{
	color: blue;
}

.green{
	color: #bada55;
}

.black{
	color: black;
}

#border{
  border-style: solid;
}