@font-face {
  font-family: 'freesans';
  src: url('../res/FreeSans.otf');
}

.GameContainer{
	font-family: freesans;
	font-size: 16px;
	line-height: 16px;
	cursor: default;
	pointer-events: visible;
}
.pixel{
	opacity: 1;
}

.pixel:hover{
	opacity: 0.5;
}

.blue{
	color: blue;
}

.red{
	color: red;
}

.green{
	color: green;
}